dist
node_modules

# intellij
.idea

# Visual Studio
/.vscode

# unit tests
coverage

# macOS
.DS_Store

# ignore npm lock
package-json.lock
.npmrc

# test environment docker volumes
test/environment/docker-dev-volumes